In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("inflacion_por_pais_1960-2022.csv")
df

### Recorrer cada pais para saber desde que año tenemos datos sobre la inflacion para todos los paises

In [3]:
df_s = pd.read_csv("salario_medio.csv")
df_s.columns

Index(['Unnamed: 0', 'fecha', 'salario medio (€)', 'pais'], dtype='object')

In [6]:
df_s.groupby("pais").count()

                     Unnamed: 0  fecha  salario medio (€)
pais
Alemania                     23     23                 23
Australia                    23     23                 23
Austria                      23     23                 23
Bulgaria                     27     27                 27
Bélgica                      23     23                 23
Canadá                       23     23                 23
Chile                        23     23                 23
Chipre                       10     10                 10
Colombia                     23     23                 23
Corea, República de          23     23                 23
Costa Rica                   23     23                 23
Croacia                      10     10                 10
Dinamarca                    23     23                 23
Eslovenia                    23     23                 23
España                       23     23                 23
Estados Unidos               23     23                 23
Estonia                      23     23                 23
Finlandia                    23     23                 23
Francia                      23     23                 23
Grecia                       23     23                 23
Hungría                      23     23                 23
Irlanda                      23     23                 23
Islandia                     23     23                 23
Israel                       23     23                 23
Italia                       23     23                 23
Japón                        23     23                 23
Letonia                      27     27                 27
Lituania                     28     28                 28
Luxemburgo                   23     23                 23
Malta                        18     18                 18
México                       23     23                 23
Noruega                      23     23                 23
Nueva Zelandia               23     23                 23
Países Bajos                 23     23                 23
Polonia                      23     23                 23
Portugal                     23     23                 23
Reino Unido                  23     23                 23
República Checa              23     23                 23
República Eslovaca           23     23                 23
Rumania                      27     27                 27
Suecia                       23     23                 23
Suiza                        23     23                 23
Turquía                      23     23                 23

In [4]:
df_s.groupby("fecha").count()

       Unnamed: 0  salario medio (€)  pais
fecha
1995            1                  1     1
1996            4                  4     4
1997            4                  4     4
1998            4                  4     4
1999            4                  4     4
2000           40                 40    40
2001           40                 40    40
2002           40                 40    40
2003           40                 40    40
2004           40                 40    40
2005           42                 42    42
2006           42                 42    42
2007           42                 42    42
2008           41                 41    41
2009           41                 41    41
2010           41                 41    41
2011           41                 41    41
2012           41                 41    41
2013           42                 42    42
2014           43                 43    43
2015           42                 42    42
2016           42                 42    42
2017           43                 43    43
2018           43                 43    43
2019           43                 43    43
2020           43                 43    43
2021           43                 43    43
2022           43                 43    43

In [ ]:
df_s.groupby("pais").all()

In [ ]:
df_s.groupby(by=["pais"])

In [7]:
# Ya esta modificado con los nombres cambiados del otro dataset
nombre_paises = ["Alemania", "Australia", "Austria", "Bulgaria", "Bélgica", "Canadá", "República Checa", "Chile", "Chipre", 
                 "Colombia", "Corea del Sur" , "Costa Rica", "Croacia", "Dinamarca", "Eslovaquia", "Eslovenia", 
                 "España", "Estados Unidos", "Estonia", "Finlandia", "Francia", "Grecia", "Hungría", "Irlanda", 
                 "Islandia", "Israel", "Italia", "Japón",  "Letonia", "Lituania", "Luxemburgo", "Malta", "México", 
                 "Noruega", "Nueva Zelandia", "Países Bajos", "Polonia", "Portugal", "Reino Unido", "Rumania", "Suecia", 
                 "Suiza", "Turquía"]

In [8]:
len(nombre_paises)

43

In [ ]:
# nombre_paises

# Chequia -> República Checa
# Corea del Sur -> Corea, República de
# Eslovaquia -> República Eslovaca
# Nueva Zelanda -> Nueva Zelandia
# Rumanía -> Rumania
# Türkiye -> Turquía

In [ ]:
df_paises = df.copy()
for i, name in enumerate(df["Country Name"]):
    if (name not in nombre_paises):
        df_paises = df_paises.drop(index=i)

In [ ]:
df_paises

In [ ]:
# De 1993 a delante no hay nulos en los paises seleccionados
df_paises['1993'].isna() == True

In [ ]:
df_paises = df_paises.dropna(axis=1)
df_paises.reset_index()

### Obtener para cada año, de cada pais, los valores correspondientes

In [ ]:
col_years = [1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
valores = []

for index in df_paises.index:
    valor = []
    for col in col_years:
        valor.append(df_paises[str(col)][index])
    valores.append(valor)

In [ ]:
max = 0
for i in range(len(valores)):
    if (sum(valores[i]) > max):
        print(i)
        max = sum(valores[i])

print(max)

In [ ]:
pd.DataFrame.to_csv(df_paises,"inflacion_pais.csv")